Django==1.5.5
Pillow==2.3.0
South==0.8.4
argparse==1.2.1
cmsplugin-filer==0.9.5
django-classy-tags==0.4
django-cms==2.4.3
django-filer==0.9.5
django-mptt==0.5.2
django-polymorphic==0.5.3
django-reversion==1.8.0
django-sekizai==0.7
docutils==0.11
easy-thumbnails==1.4
html5lib==0.999
selenium==2.37.2
six==1.5.2
wsgiref==0.1.2
